div{
	box-sizing: border-box;
	border: 1px solid #000000;
	width: 100px;
	height: 100px;
	margin: 2%;
	padding: 2%;
	display: inline-block;
	transition: 2s ease; /*let the browser know that when we change states, we want to take about two seconds and ease it in.*/
}
div:focus{
	background-color: #ffff00;
}
div:hover{
	width: 200px;
	background-color: #800040;
}
 .animate{
	background:00ff00;
}